<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="../../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" href="../static/css/core.css" th:href="@{/css/core.css}" media="screen"/>
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}" media="screen"/>
    <link rel="stylesheet" href="../static/fonts/font-awesome-4.7.0/css/font-awesome.min.css"
          th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}" media="screen"/>
    <meta charset="utf-8"/>
    <title>New Template</title>
</head>
<body>
    <div class="container col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
        <h1 class="text-center">New Template</h1>
        <p class="alert alert-danger" th:if="${error != null}" th:text="${error}"></p>

        <form action="#" th:action="@{/template}" th:object="${template}" th:method="post">
            <input class="form-control" type="hidden" th:field="*{id}"/>
            <div class="form-group">
                <label class="control-label">
                    <th th:text="#{template.name}"/>
                </label>
                <input class="form-control" type="text" th:field="*{name}"/>
                <p th:errorclass="form-field-error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</p>
            </div>
            <div class="form-group">
                <label class="control-label">
                    <th th:text="#{template.shortName}"/>
                </label>
                <input class="form-control" type="text" th:field="*{shortName}"/>
                <p th:errorclass="form-field-error" th:if="${#fields.hasErrors('shortName')}" th:errors="*{shortName}">Short Name Error</p>
            </div>
            <div class="form-group">
                <label class="control-label">
                    <th th:text="#{template.description}"/>
                </label>
                <textarea class="form-control" style="overflow:hidden;"  rows = "5" th:field = "*{description}"/>
                <p th:errorclass="form-field-error" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Team Error</p>
            </div>
            <div class="form-check">
                <label class="checkbox-inline">
                    <th th:text="#{template.defaultTemplate}"/>
                </label>
                    <input class="checkbox-inline" type="checkbox" th:field="*{defaultTemplate}"/>
            </div>

            <div class="form-check">
                <label class="checkbox-inline">
                    <th th:text="#{template.valid}"/>
                </label>
                <input class="checkbox-inline" type="checkbox" th:field="*{valid}"/>
            </div>

            <div class="col-lg-offset-5">
                <button class="btn btn-default pull-right" type="submit">
                    <th th:text="#{save}"/>
                </button>
            </div>
        </form>
        <div class="mycontent-left">
        </div>
        <div class="pull-right">
            <a class="btn btn-link" href="/template">
                <th th:text="#{return}"/>
            </a>
        </div>
    </div>

    <div class="container">
        <div>
            <table class="table">
                <thead class="th-style">
                <tr>
                    <th th:text="id"/>
                    <th th:text="MFE"/>
                    <th th:text="TEST"/>
                    <th th:text="LIVE"/>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="templateVerStatus: ${templateVerStatusList}" th:object="${templateVerStatusList}">
                    <td th:text="${templateVerStatus.id}"></td>
                    <td>
                        <span th:text="${templateVerStatus.mfeStatus}"></span>
                        <span th:text="${templateVerStatus.mfeEnvironment}"></span>
                    </td>
                    <td>
                        <span th:text="${templateVerStatus.testStatus}"></span>
                        <span th:text="${templateVerStatus.testEnvironment}"></span>
                    </td>
                    <td>
                        <span th:text="${templateVerStatus.liveStatus}"></span>
                        <span th:text="${templateVerStatus.liveEnvironment}"></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</body>
</html>