<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">

<head>
    <meta charset="utf-8"/>
    <title th:text="#{template.title}">Template title</title>
    <script type="text/javascript" src="../../static/js/jquery-3.2.1.js" th:src="@{/js/jquery-3.2.1.js}"></script>
    <link rel="stylesheet" href="../../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" href="../static/css/core.css" th:href="@{/css/core.css}" media="screen"/>
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}" media="screen"/>
    <link rel="stylesheet" href="../static/css/util.css" th:href="@{/css/util.css}" media="screen"/>
    <link rel="stylesheet" href="../static/fonts/font-awesome-4.7.0/css/font-awesome.min.css"
          th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}" media="screen"/>
</head>
<body>
<hr>

</hr>
<section layout:fragment="content">
    <div class="container">
        <div class="row custyle">
            <table class="table table-striped custab table-sm">
                <thead class="th-style">
                <tr>
                    <th class="th-style" th:text="#{template.id}"/>
                    <th class="th-style" th:text="#{template.name}"/>
                    <th class="th-style" th:text="#{template.shortName}"/>
                    <th class="th-style" th:text="#{template.description}"/>
                    <th class="th-style" th:text="#{template.defaultTemplate}"/>
                    <th class="th-style" th:text="#{template.valid}"/>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="template:${templates}" th:object="${template}">
                    <td th:text="*{id}"></td>
                    <td th:text="*{name}"></td>
                    <td th:text="*{shortName}"></td>
                    <td th:utext="*{description}"></td>
                    <div th:switch="${template.defaultTemplate}">
                        <td th:case='true'>Ano</td>
                        <td th:case='false'>Ne</td>
                    </div>
                    <div th:switch="${template.valid}">
                        <td th:case='true'>Ano</td>
                        <td th:case='false'>Ne</td>
                    </div>

                    <td><a class="btn btn-default btn-xs" th:href="@{/template/edit/{id}(id=*{id})}"
                           th:text="#{edit}">Edit</a></td>
                    <td>
                        <form th:action="@{/template/{id}(id=*{id})}" th:method="delete">
                            <input class="btn btn-danger btn-xs" type="submit" value="TestDelete"
                                   th:attr="value=#{delete}"/>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
            <div th:replace="fragments/paginationbar :: paginationbar">Pagination
            </div>
            <div class="col-lg-offset-5">
                <a class="btn btn-info icon-plus pull-right" href="/template/new">
                    <th th:text="#{new}"/>
                </a>
            </div>
        </div>
    </div>
</section>
</body>
</html>