<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
    <property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
    <property name="hibernate.connection.url">jdbc:oracle:thin:@//localhost:1521/PDB</property>
    <!-- <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:XE</property> -->
    <property name="hbm2ddl.auto">create</property>
    <!-- Enable Hibernate's automatic session context management -->
    <property name="current_session_context_class">thread</property>
    <!-- Disable the second-level cache  -->
    <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>
    <property name="show_sql">true</property>
    <property name="hibernate.format_sql">true</property>
      <mapping class="com.example.mfe.domain.templates.Template"/>
      <mapping class="com.example.mfe.domain.templates.TemplateStatus"/>
      <mapping class="com.example.mfe.domain.templates.TemplateVer"/>
      <mapping class="com.example.mfe.domain.templates.TemplateVerStatus"/>
      <mapping class="com.example.mfe.domain.groups.GroupModel"/>
      <mapping class="com.example.mfe.domain.templates.LoanObject2TplVer"/>

      <mapping class="com.example.mfe.domain.user.User"/>
      <mapping class="com.example.mfe.domain.user.Role"/>


  </session-factory>
</hibernate-configuration>
