<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
</head>
<body>

<!-- Navbar -->
<div class="navbar navbar-fixed-top" th:fragment="header">
    <div class="container-fluid">
        <div class="navbar-left">
            <h3 class= "navbar-text" th:text="#{title.application}">Application Title</h3>
        </div>
        <p class="navbar-text navbar-right" th:text="'Singned in as Marko'" style="margin-right: 10px;">
            Signed in as Anonymus</p>
    </div>
</div>
</body>
</html>
